<h1>Tragamonedas</h1>
<div>
	<h2>Hola <%= @@juego.getJugador.nombre %></h2>
    <p>Nivel Dificultad: <%= @@juego.getJugador.getNivelText %></p>
    <p>Creditos: <%= @@juego.getJugador.creditos %></p>
    <p>Tiradas: <%= @@juego.getJugador.tiradas %></p>
</div>
<div>

<h1><%= @@juego.getTirada %> <%= @@juego.getEsGanadora %></h1>
<h1></h1>
</div>
<form method="post" action="/jugar">
	<input type="submit" value="jugar">
</form>

